.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
}
.card-img{
    width: 100%;
}
.card-img__detail{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.card-search{
    margin: -150px 0px 20px 0px;
}
.card-search input{
    height: 45px;
    width: 700px;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
}
.btn-search{
    color: white;
    background-color: #C7923E;
    font-weight: 500;
    margin-left: -106px;
    height: 35px;
    border-radius: 8px;
}

.card-vocabulary-folder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 150px 0 30px;
}
.card-pagination{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 30px;
}


