.card-img__detail{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-search{
    margin: -150px 0px 15px 400px;
}
.card-search input{
    height: 45px;
    width: 700px;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
}
.btn-search{
    color: white;
    background-color: #C7923E;
    font-weight: 500;
    margin-left: -106px;
    height: 35px;
    border-radius: 8px;
}
.card-select__level{
    border: none;
    font-size: 15px;
    width: 180px;
    height: 35px;
    border-radius: 7px;
    margin-left: 400px;
    padding-left: 15px;
}
.card-select__learning{
    border: none;
    font-size: 15px;
    width: 180px;
    height: 35px;
    border-radius: 7px;
    margin-left: 50px;
    padding-left: 15px;
}
.card-course{
    width: 80%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 110px 0px -25px 150px;
}
.card-pagination{
    display: flex;
    align-items: center;
    color: #383838;
    padding: 10px 40px;
    margin-left: 560px;
}
.ul-pagination{
    margin: 20px 20px;
}
.ul-pagination li{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 7px;
}
.ul-pagination li.link_active{
    color: #fff;
    background-color: #C7923E;
}
.ul-pagination li.link_active:hover{
    background-color: #d8a553;
}
.icon-pagination__right,
.icon-pagination__left{
    height: 20px;
    padding: 8px 10px;
    color: #C7923E;
    background-color: #f3e8d7;
}
.icon-pagination__right:hover,
.icon-pagination__left:hover{
    transform: scale(1.06);
}