.container {
  text-transform: none;
}
.poster__course-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.card__rating {
  display: flex;
  align-items: center;
}
.card__rating-title {
  color: black;
  font-size: 40px;
  font-weight: 650;
  margin-left: 200px;
  margin-top: 10px;
}
.card__rating-star {
  fill: gold;
  margin-top: 16px;
  margin-left: 40px;
  display: flex;
  font-size: 35px;
}
.card__rating-star-detail {
  margin-left: 15px;
  margin-top: 0px;
}

.student__review {
  display: flex;
  align-items: center;
  margin: 5px 200px;
  &-title {
    font-size: 15px;
    font-weight: 700;
    color: #c7923e;
  }
  &-content {
    margin-left: 40px;
    span{
      margin-left: 10px;
      color: #c7923e;
    }
  }
}
.card__intro {
  color: black;
  border: 2px solid #9f9f9f;
  border-radius: 25px;
  width: 685px;
  margin-left: 120px;
  margin-top: 30px;
  padding: 25px 30px;
  font-size: 20px;
}
.card__intro-title {
  fill: gold;
  margin-top: 15px;
  margin-left: 40px;
  display: flex;
  font-size: 35px;
}
.card__content {
  color: black;
  height: 240px;
  width: 685px;
  margin-left: 120px;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 15px;
  font-size: 20px;
}
.card__content-title {
  color: #c7923e;
  font-weight: 780;
  font-size: 30px;
  margin-bottom: 10px;
}
.lesson-list {
  margin: 0 120px 40px 120px;
  box-shadow: 0 15px 37px -6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 20px 20px 10px 20px;
  }

  &__items {
    list-style-type: none;
    padding: 0 20px 40px 20px;
  }
  .lesson-item {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    &__title {
      font-size: 15px;
      font-weight: 400;
      span {
        margin-right: 5px;
      }
      span::after {
        content: ".";
      }
    }
    &__icon {
      font-size: 10px;
      color: #999;
      .icon-lock{
        margin-right: 5px;
        color: #949390;
        font-size: 10px;
      }
      .icon-play {
        margin-right: 5px;
        color: #ebba16;
        font-size: 10px;
      }
    }
  }
  .disabled{
    color: #949390;
    cursor: not-allowed;
  }
}

.card__relatedcourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 490px;
  width: 100%;
}
.card__relatedcourse-title {
  color: black;
  font-weight: 780;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.card__relatedcourse-detail {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.icon__left {
  color: black;
  margin-left: 40px;
  font-size: 50px;
  margin-top: 110px;
}
.icon__left:hover {
  transform: scale(1.2);
}
.icon__right {
  color: black;
  margin-right: 40px;
  font-size: 50px;
  margin-top: 110px;
}
.icon__right:hover {
  transform: scale(1.2);
}
.enroll-card {
  position: absolute;
  left: 65%;
  top: 50%;
}
