.comment {
  display: flex;
  align-items: flex-start;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-content {
  flex: 1;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 4px;
}

.comment-text {
  margin-bottom: 8px;
}
.comment-more {
  display: flex;
  align-items: center;
}
.comment-reply, .comment-edit, .comment-delete {
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  svg{
    margin-left: 5px;
  }
}

.comment-date {
  font-size: 12px;
  color: #888888;
  margin-right: 10px;
}
.comment-replies {
  margin-left: 50px;
}
.reply {
  display: flex;
  align-items: flex-start;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.reply-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
