.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 7px;
}
.title {
  margin-top: 10px;
  margin-bottom: 20px;
  &--primary {
    color: var(--primary);
  }
}
.list-card {
  display: flex;
  gap: 40px;
}
@media (max-width: 1029px) {
  .list-card {
    flex-direction: column;
    gap: 20px;
  }
}
