.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 7px;
  }
  .title {
    margin-bottom: 20px;
    &--primary {
      color: var(--primary);
    }
  }
  