.header__link-item {
  text-decoration: none;
  color: #0a2640;
  font-size: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;

  &:hover{
    color: var(--secondary)
  }
  &.active {
    color: var(--primary);
  }
}
.navbar {
  padding: 0 25px 0 5px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 10;
}
.navbar .links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.action__btn{
  background-color: transparent;
  font-size: 24px;
  color: #0a2640;
  padding: 4px 12px;
  cursor: pointer;


}
.action__btn-login,.action__btn-register{
  height: 40px;
  font-size: 18px;
  margin: 0;
  box-shadow: none;
}

.navbar .toggle-btn {
  color: #0a2640;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 22px;
  top: 85px;
  width: 285px;
  background: #f4f4f4;
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 10px;
}
.dropdown-menu a {
  text-decoration: none;
  color: #0a2640;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  line-height: 0.7;
  flex-grow: 0;
}
.dropdown-menu a:hover {
  color: #577694;
}
.dropdown-menu.open {
  height: 0px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .action__btn-login {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 5px;
}
.dropdown-menu .action__btn-register {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1029px) {
  .navbar .links,
  .navbar .action__btn-login,
  .navbar .action__btn-register {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}
.user-avt{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;

}

@media (max-width: 350px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}