.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 753px;
  background-color: #c6c5c3;
}
.bg-create {
  height: 100%;
  width: 100%;
}
.card-create {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 29px;
}
.card-create__title {
  width: 100%;
  height: 12%;
  font-size: 30px;
  font-weight: 700;
  color: #b79032;
  text-align: center;
}
.card-create__content{
  display: flex;
  justify-content: center;
}
.card-create__left {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  // input {
  //   height: 35px;
  //   width: 320px;
  //   margin-bottom: 20px;
  //   border-radius: 10px;
  //   padding-left: 15px;
  //   background-color: #ece1c9;
  // }
  // select {
  //   height: 35px;
  //   width: 320px;
  //   margin-bottom: 20px;
  //   border-radius: 10px;
  //   border: none;
  //   padding-left: 15px;
  //   color: #6c675c;
  //   background-color: #ece1c9;
  // }
}

.card-create__right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-create__banner {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}

.card-create__import-file {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    color: var(--primary);
    cursor: pointer;
    svg{
      margin-right: 10px;
    }
  }
  .card-create__input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
.card-create__btn {
  height: 40px;
  width: 200px;
  font-weight: 500;
  border-radius: 10px;
}
