.vocabulary {
  &__title {
    font-family: "Lucida Sans Unicode";
    font-size: 32px;
    font-weight: 600;
    margin-top: 2%;
    color: black;
    margin-left: 5%;
  }

  &__description {
    display: flex;
    flex-direction: row;

    &-title {
      font-size: 24px;
      margin-left: 1.5%;
    }
  }

  &__image {
    object-fit: cover;
    width: 38px;
    height: 38px;
    margin-left: 5%;
  }


  &__container {
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
  }

  &__sound {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 300px;
  }
}

.list-vocabulary-folder__card {
  width: 100%;
  background-color: #f2f2f2;
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  margin: 100px 0 80px;
  justify-items: center;
  align-items: center;
}

.icon-sound {
  font-size: 18px;
  cursor: pointer;
}