.vocabulary {
    &__title {
      font-family: 'Lucida Sans Unicode';
      font-size: 32px;
      font-weight: 600;
      margin-top: 2%;
      color: black;
      margin-left: 5%;
    }
  
    &__description {
      display: flex;
      flex-direction: row;
  
      &-title {
        font-size: 24px;
        margin-left: 1.5%;
      }
    }
  
    &__image {
      object-fit: cover;
      width: 38px;
      height: 38px;
      margin-left: 5%;
    }
  
    &__content {
      // width: 46%;
      margin-left: 28%;
      
      &__vocabulary-card {
        width: 61.5%;
        margin-top: 3%;
        // margin-left: 28%;
        
      }
    }

    &__container{
      display: flex;
      margin-top: 1%;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      gap: 20px;
    }

  }
  
  .list-vocabulary-folder {
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 420px;
  
    &__card1 {
      padding-top: 3%;
      display: flex;
      gap: 120px;
      justify-content: center;
    }
  
    &__card2 {
      padding-top: 2%;
      display: flex;
      gap: 120px;
      justify-content: center;
    }
  }
  .ant-carousel {
    .slick-next {
      &::before {
        content: '';
      }
    }
    .slick-prev { 
      &::before {
        content: '';
      }
    }
  }

  