.admin__logo {
  height: 64px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.admin__logo-image {
  height: 60px;
}
.admin__header-left {
  display: flex;
  align-items: center;
}
.admin__header-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 20px;
}
.admin__icon{
  font-size: 24px;
  cursor: pointer;
}
.admin__page-content {
  padding: 10px;
}
